<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    ${includes}
</head>
<body>
    <h1>${navbar}</h1>
    
    <h1>create a new todo</h1>
        <ul>
            <form action = "" method = "POST">
                    <label>Task: <input name ="task"></label>
                    <input name = "user_id" value="1">
                    <input type = "submit">

            </form>
        </ul>
        
</body>
</html>